<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать</title>

</head>
{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid mt-5 content animate__animated" id="main-content">
        <h1 class="display-3 text-center mb-4">Добро пожаловать на сайт "Овощной\Фруктовый рай"!</h1>
        <div class="slider-container slider-content">
            <div class="jumbotron">
                <img style="width: 100%;height: 300px;display: block;margin: 0 auto;" src="https://avatars.mds.yandex.net/i?id=c2aeb87e0fdbfeca8b6b9948c1e008d2d2544ddd-6436951-images-thumbs&n=13"
                     alt="main photo" class="rounded mx-auto d-block">
                <p class="lead" style="font-size: 24px">
                    "Овощной\Фруктовый рай" - это компания, которая с гордостью предоставляет своим клиентам самые
                    свежие и
                    вкусные
                    овощи
                    прямо от фермы нашего собственного производства. Мы гордимся тем, что способствуем заботе о здоровье
                    и
                    удовольствии наших клиентов, предлагая широкий ассортимент сельскохозяйственной продукции высокого
                    качества.
                </p>
                <h2 style="font-size: 40px">Наши ценности:</h2>
                <ul style="font-size: 20px">
                    <li><strong>Натуральность и качество:</strong> Все наши овощи выращиваются без использования
                        химических
                        удобрений и пестицидов. Мы уделяем особое внимание качеству продукции, чтобы каждый клиент мог
                        наслаждаться
                        свежестью и полезными свойствами овощей.
                    </li>
                    <li><strong>Поддержка местного производства:</strong> Мы активно поддерживаем местных фермеров и
                        сельскохозяйственных производителей, сотрудничая с ними для обеспечения наших клиентов самыми
                        свежими и
                        экологически чистыми овощами.
                    </li>
                    <li><strong>Забота о клиентах:</strong> Наша цель - удовлетворение потребностей наших клиентов. Мы
                        стремимся
                        предоставлять отличный сервис, быструю доставку и гарантированное качество наших продуктов.
                    </li>
                </ul>
                <div class="footer-container">
                    {% include 'footer.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>